<html>

	<head>
		<title>{{SiteParameter_PageTitle}}</title>

		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/common.js"></script>
	</head>

<body>

.........................<br>
This is Global header<br>
.........................<br>
