
	{{> Common_Header}}
	{{> Public_Header}}
	<script language="javascript">

			$(document).ready(function(){



			});

	</script>


			 {{SomeData.name}}

			 <br>
			 <br>

			 <a href="/login">  Local Login</a> <br>
			 <a href="/signup"> Local Signup</a>



	{{> Public_Footer}}
	{{> Common_Footer}}
